.list-box {
  list-style-type: none;
  font-size: 1rem;
  color: white;
  min-width: 300px;
  background: #181b2c;
  border: 1px solid #fff;
  padding-top: 0px;
  padding-bottom: 30px;
}

.list-box > img {
  padding-right: 20px;
}
